<header>
    <a routerLink="/">Project</a>
</header>

<nav>
    <ul>
        <li>
            <a routerLink="/posts">Posts</a>
        </li>
    </ul>
</nav>

<main>
    <router-outlet></router-outlet>
</main>
