<h1>Home</h1>

<button (click)="countClick()">Click me</button>
 <p>You clicked {{ clickCounter }} times.</p>

 <input [(ngModel)]="name" />
 <p>Your name is {{ name }}.</p>

 <ng-template [ngIf]="clickCounter >= 10"
              [ngIfElse]="none">You have exceeded the limit! ({{ clickCounter }})</ng-template>
 <ng-template #none>You are way below the limit! ({{ clickCounter }})</ng-template>

 <p [style.color]="clickCounter >= 3 ? '#F4F4F4' : '#777777'"
    [ngStyle]="{
        'background': clickCounter >= 3 ? '#777777' : '#F4F4F4'
    }"
    [class.active]="clickCounter >= 3"
    [ngClass]="setClasses()">I'll become
     <em>bg:gray</em>,
     <em>fg:white</em> and
     <em>bordered</em>
     in the count of three! ({{ clickCounter }})</p>
