<h1>Posts</h1>
<ul *ngIf="posts">
    <li *ngFor="let post of posts">
        <a href="https://jsonplaceholder.typicode.com/posts/{{ post.id }}">{{ post.title }}</a>
        <p>{{ post.body }}</p>
    </li>
</ul>
